@model BlockExplorer.Models.BlocksInfoVm

@{
    ViewData["Title"] = "Home Page";
}

<h1>Latest Block</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Height</th>
            <th scope="col">Age</th>
            <th scope="col">Transactions</th>
            <th scope="col">MinedBy</th>
            <th scope="col">Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var block in Model.Blocks)
        {
            <tr>
                <td scope="row"><a href="@Url.Action("Index", "Block",new { block.Index })">Block @block.Index</a></td>
                <td>@block.Age</td>
                <td>                  
                    <a href="@Url.Action("Index", "Transaction", new { block.Index })">  @block.Transactions.Length txns</a>
                </td>
                <td>@block.MinedBy</td>
                <td>@block.Size</td>
            </tr>
        }
    </tbody>
</table>